R"(
					QualifiedType qualifiedType;
					{{#typeID}}
					qualifiedType.SetTypeID({{typeID}});
					qualifiedType.SetConst({{const}});
					qualifiedType.SetQualifierOperator(static_cast<QualifierOperator>({{operator}}));
					qualifiedType.SetArraySize({{arraySize}});
					{{/typeID}}
)"